apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ops-repo
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/andyviet102/ops-repo
    targetRevision: main
    path: k8s
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd-visualizer
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true