apiVersion: apps/v1
kind: Deployment
metadata:
  name: ops-repo
  namespace: argocd-visualizer
  labels:
    app: ops-repo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ops-repo
  template:
    metadata:
      labels:
        app: ops-repo
    spec:
      containers:
      - name: ops-repo
        image: ghcr.io/andyviet102/ops-repo:64620483e81f92e743ef1670ab598c6ead3cbece
        ports:
        - containerPort: 8080
        env:
        - name: PORT
          value: "8080"
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          requests:
            cpu: "50m"
            memory: "64Mi"
          limits:
            cpu: "250m"
            memory: "128Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: ops-repo-svc
  namespace: argocd-visualizer
spec:
  selector:
    app: ops-repo
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
  type: LoadBalancer